.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    display: block;
    margin: auto;
    width: 600px;
}

.text-center {
    text-align: center;
}

.formError {
    width: 100%;
    padding: 5px;
    color: red;
}

a.loggedIn {
    display: none;
}

body.loggedIn a.loggedIn {
    display: inline-block;
}

body.loggedIn a.loggedOut {
    display: none;
}

.hidden {
    display: none;
}