<form id="accountCreate" class="form-container" method="POST" action="api/users">
    <h1 class="title text-center">Create an account</h1>
    <div class="formError"></div>
    <div class="field">
        <label class="label">First Name</label>
        <div class="control">
            <input name="firstName" class="input" type="text" placeholder="John">
        </div>
    </div>
    <div class="field">
        <label class="label">Last Name</label>
        <div class="control">
            <input name="lastName" class="input" type="text" placeholder="Doe">
        </div>
    </div>
    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input name="email" class="input" type="text" placeholder="john@gmail.com">
        </div>
    </div>
    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input name="password" class="input" type="password">
        </div>
    </div>
    <div class="field">
        <label class="label">Street Address</label>
        <div class="control">
            <input name="streetAddress" class="input" type="text" placeholder="Middle st. N 1">
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Submit</button>
        </div>
        <div class="control">
            <a href="/" class="button is-text">Cancel</a>
        </div>
    </div>
</form>