<form id="accountCreate" class="form-container" method="POST" action="api/tokens">
    <h1 class="title text-center">Log in to your account</h1>
    <div class="formError"></div>
    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input name="email" class="input" type="text" placeholder="john@gmail.com">
        </div>
    </div>
    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input name="password" class="input" type="password">
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Submit</button>
        </div>
        <div class="control">
            <a href="/" class="button is-text">Cancel</a>
        </div>
    </div>
</form>