<div id="menu-list" class="columns">
    <div class="column">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="public/images/{{pizzaImageName}}.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">{{pizzaName}} - <strong>{{pizzaPrice}}</strong></p>
                    </div>
                </div>
                <div class="content">
                    <p class="js-pizza-error has-text-danger hidden">Select a number between 1 and 100 </p>
                    <p class="js-pizza-success hidden has-text-success">Pizza added to your shopping cart. If you want
                        to remove the item
                        go to the <a href="shopping-cart">Shopping cart</a> section</p>
                    <label class="label">Amount</label>
                    <input class="input" type="number" placeholder="1" min="1" max="100">
                    <button class="button is-primary js-addToCart" data-pizza="{{pizzaName}}">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>