<div class="center-content">
    <h1 class="title">
        Order successfully made. You will receive an email with the receipt
    </h1>
    <p class="subtitle">Thank you for choosing us</p>
    <p>
        <a href="menu" class="button is-primary">Back to menu</a>
        <a href="shopping-cart" class="button is-link">Back to shopping cart</a>
    </p>
</div>